<div class="main">  
    <mat-toolbar fxLayout="row" color="primary">
        <button (click)="drawer.toggle()" class="menu-btn" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex>Hendrew Front</span>
    </mat-toolbar>
    <mat-drawer-container class="main-content">
        <mat-drawer [opened]="true" mode="side" class="menu" #drawer>
            <mat-nav-list>
                <mat-list-item>
                    <a matLine class="link" [routerLink]="['/admin/bimestre']" routerLinkActive="link-activated">
                        <mat-icon>format_list_numbered_rtl</mat-icon>
                        <span>Fechamento Bimestre</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine class="link" [routerLink]="['/admin/notas']" routerLinkActive="link-activated">
                        <mat-icon>description</mat-icon>
                        <span>Lançamento de Notas</span>
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine class="link" [routerLink]="['/admin/boletim']" routerLinkActive="link-activated">
                        <mat-icon>verified</mat-icon>
                        <span>Boletim</span>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>